<v-css-layout style-name="card new-form" width-full>

    <v-horizontal-layout style-name="v-panel-caption" width-full>
        <v-label _id="lblCaption" style-name="v-captiontext" :expand :middle :left icon="font://MALE" />
        <v-button _id="butEdit" style-name="borderless small" :middle :right icon="font://PENCIL"/>
    </v-horizontal-layout>

    <v-vertical-layout _id="readLayout" spacing margin>
        <v-label _id="lblVerejnyOrgan"/>
        <v-label _id="lblName"/>
        <v-label _id="lblObdobi"/>
        <v-label _id="lblVerejnaOsoba"/>
    </v-vertical-layout>

    <v-vertical-layout _id="editLayout" spacing margin>
        <v-combo-box _id="cbName" width-full required="true"/>
        <v-combo-box _id="cbObdobi" width-full required="true"/>
        <v-combo-box _id="cbVerejnaOsoba" width-full required="true"/>
        <v-horizontal-layout spacing>
            <v-button _id="butSave" style-name="primary"/>
            <v-button _id="butCancel" icon="font://PENCIL"/>
            <v-button _id="butRemove" style-name="danger" icon="font://TRASH_O"/>
        </v-horizontal-layout>
    </v-vertical-layout>
</v-css-layout>