<v-vertical-layout margin>
    <v-panel _id="panel" style-name="new-form" icon="font://MALE">
        <v-vertical-layout margin spacing width-full>
            <v-label _id="lblBody"/>
            <v-label _id="lblPerson"/>
            <v-combo-box _id="cbPublicBody" width-full required="true"/>
            <v-combo-box _id="cbPublicPerson" width-full required="true"/>
            <v-combo-box _id="cbTenure" width-full required="true"/>
            <v-combo-box _id="cbName" width-full required="true"/>
            <v-button _id="butSave" style-name="primary"/>
        </v-vertical-layout>
    </v-panel>
</v-vertical-layout>