<!--<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	
	
	<context:load-time-weaver/>
    <context:component-scan base-package="com.app.config" />
	
	
	<bean id="myDS" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/iivos_ap"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>
	</bean>
	
	<bean id="myTempl" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="myDS" />
	</bean>

 	<bean id="myDSfact" class="org.apache.commons.dbcp.BasicDataSourceFactory">
	
	</bean>

	<bean id="myProp" class="java.util.Properties"></bean>
 	
    <bean id="myRepo" class="com.app.dao.OrderDAO">
		<property name="jdbcTemplate" ref="myTempl"/> 
  		
        <constructor-arg ref="myTempl" />
	</bean>
 	
    <bean id="myServ" class="com.app.service.OrderService">
		<constructor-arg ref="myRepo" />
	</bean>
 	
   
  <bean id="mojaBeana" class="spring2hello.Beana">
		<property name="first_name" value="karolko"/>
		<constructor-arg ref="beerSource" /> 
 </bean>
	
	  <bean id="userBeana" class="spring2hello.User">
			<property name="first_name" value="karolko"/>
			
	 </bean>
	
</beans>-->
