<v-vertical-layout margin>

    <v-panel _id="panel" style-name="new-form" icon="font://HAND_O_UP">
        <v-vertical-layout margin spacing width-full>
            <v-label _id="lblBody"/>
            <v-combo-box _id="cbPublicBody" width-full required="true"/>
            <v-combo-box _id="cbSubject" width-full required="true"/>
            <v-popup-date-field _id="dfDatum" width-full required="true"/>
            <v-text-field _id="tfCislo" width-full null-representation="" required="true"/>
            <v-button _id="butSave" style-name="primary"/>
        </v-vertical-layout>
    </v-panel>

</v-vertical-layout>
