.idea/*
*.cache
*.css
target/*
src/main/webapp/VAADIN/widgetsets/*
/nb-configuration.xml
/known_hosts
src/main/resources/db/dev/db_conn.properties
log/*
temp/*
kosvopo6.iml
libs/*
src/main/resources/application.properties
