<v-css-layout style-name="card new-form" width-full>
    <v-horizontal-layout style-name="v-panel-caption" width-full>
        <v-label _id="lblCaption" style-name="v-captiontext" :expand :middle :left caption="Detail verejného orgánu" icon="font://GEARS" />
        <v-button _id="butEdit" style-name="borderless small" :middle :right icon="font://PENCIL"/>
    </v-horizontal-layout>
    <v-vertical-layout _id="readLayout" spacing margin width-full>
        <v-label _id="lblName" caption="Název orgánu:"/>
        <v-label _id="lblObec" caption="Název obce:"/>
    </v-vertical-layout>
    <v-vertical-layout _id="editLayout" spacing margin width-full>
        <v-text-field _id="tfName" caption="Název orgánu:" input-prompt="Vyplňte název orgánu" required="true" width-full/>
        <v-combo-box _id="cbObec" caption="Obec:" input-prompt="Vyberte obec" required="true" null-selection-allowed="false" width-full/>
        <v-horizontal-layout spacing>
            <v-button _id="butSave" style-name="primary">Uložit</v-button>
            <v-button _id="butCancel" icon="font://PENCIL">Zrušit</v-button>
            <v-button _id="butRemove" style-name="danger" icon="font://TRASH_O">Odstranit</v-button>
        </v-horizontal-layout>
    </v-vertical-layout>
</v-css-layout>