<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping" content="c:sk.stefan.mvps.view.components"/>
    <meta name="package-mapping" content="vo:sk.stefan.mvps.view.components.verejnyOrgan"/>
</head>
<body>
<v-vertical-layout spacing margin width-full>
    <v-horizontal-layout spacing width-full>
        <v-vertical-layout spacing>
            <vo-detail-organu-panel _id="detailPanel"/>
            <c-dokumenty-panel _id="dokumentyPanel"/>
        </v-vertical-layout>
        <v-vertical-layout spacing>
            <vo-verejne-funkce-organu-panel _id="funkcePanel"/>
        </v-vertical-layout>
    </v-horizontal-layout>
    <c-timeline-panel _id="timeline" width-full/>
</v-vertical-layout>
</body>
</html>