<html>
<head>
    <meta name="package-mapping" content="c:sk.stefan.mvps.view.components"/>
</head>
<body>
<v-vertical-layout margin width-full>
    <v-panel _id="panel" style-name="card new-form" icon="font://USER">
        <v-horizontal-layout spacing margin width-full>
            <c-image-component _id="imageComponent" width="150px"/>
            <v-vertical-layout spacing :expand>
                <v-text-field _id="tfName" width-full required="true" null-representation=""/>
                <v-text-field _id="tfSurname" width-full required="true" null-representation=""/>
                <v-text-field _id="tfNick" width-full required="true" null-representation=""/>
                <v-text-field _id="tfEmail" width-full required="true" null-representation=""/>
                <v-combo-box _id="cbRole" width-full required="true"/>
                <v-password-field _id="pfPass" width-full null-representation=""/>
                <v-password-field _id="pfPassConfirm" width-full null-representation=""/>
                <v-button _id="butSave" style-name="primary"/>
            </v-vertical-layout>
        </v-horizontal-layout>
    </v-panel>
</v-vertical-layout>
</body>
</html>