<v-css-layout style-name="card new-form" width-full>
    <v-horizontal-layout style-name="v-panel-caption" width-full>
        <v-label _id="lblCaption" style-name="v-captiontext" :expand :middle :left caption="Detail predmetu"
                 icon="font://LIGHTBULB_O"/>
        <v-button _id="butEdit" style-name="borderless small" :middle :right icon="font://PENCIL"/>
    </v-horizontal-layout>
    <v-vertical-layout _id="readLayout" margin spacing>
        <v-label _id="lblOrgan" caption="Verejný orgán:"/>
        <v-label _id="lblRole" caption="Verejná role:"/>
        <v-label _id="lblTema" caption="Téma hlasovanie:"/>
        <v-label _id="lblNazev" caption="Názov predmetu:"/>
        <v-label _id="lblPopis" caption="Popis predmetu:"/>
    </v-vertical-layout>
    <v-vertical-layout _id="editLayout" margin spacing>
        <v-combo-box _id="cbOrgan" width-full caption="Verejný orgán:" input-prompt="Vyberte verejný orgán" required="true"/>
        <v-combo-box _id="cbRole" width-full caption="Verejná role:" input-prompt="Vyberte verejnou roli" required="true"/>
        <v-combo-box _id="cbTema" width-full caption="Téma:" input-prompt="Vyberte téma hlasovanie" required="true"/>
        <v-text-field _id="tfNazev" width-full caption="Názov predmetu:" input-prompt="Vyplňte názov" null-representation="" required="true"/>
        <v-text-area _id="areaPopis" width-full caption="Popis predmetu:" input-prompt="Vyplňte popis tématu" null-representation=""/>
        <v-horizontal-layout spacing>
            <v-button _id="butSave" style-name="primary">Uložit</v-button>
            <v-button _id="butCancel" icon="font://PENCIL">Zrušit</v-button>
            <v-button _id="butRemove" icon="font://TRASH_O" style-name="danger">Odstranit</v-button>
        </v-horizontal-layout>
    </v-vertical-layout>
</v-css-layout>