<v-css-layout style-name="card new-form" width-full>
    <v-horizontal-layout style-name="v-panel-caption" width-full>
        <v-label _id="lblCaption" style-name="v-captiontext" :expand :middle :left icon="font://CLOCK_O"/>
        <v-button _id="butEdit" style-name="borderless small" :middle :right icon="font://PENCIL"/>
    </v-horizontal-layout>
    <v-vertical-layout _id="readLayout" margin spacing>
        <v-label _id="lblTenure"/>
    </v-vertical-layout>
    <v-vertical-layout _id="editLayout" margin spacing>
        <v-popup-date-field _id="dfSince" width-full required="true"/>
        <v-popup-date-field _id="dfTill" width-full/>
        <v-horizontal-layout spacing>
            <v-button _id="butSave" style-name="primary"/>
            <v-button _id="butCancel" icon="font://PENCIL"/>
            <v-button _id="butRemove" icon="font://TRASH_O" style-name="danger"/>
        </v-horizontal-layout>
    </v-vertical-layout>
</v-css-layout>