<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping" content="a:sk.stefan.mvps.view.components.administrace"/>
</head>
<body>
<v-vertical-layout margin spacing>
    <v-horizontal-layout spacing width-full>
        <v-vertical-layout spacing>
            <a-detail-uzivatele-panel _id="detailPanel"/>
        </v-vertical-layout>
        <v-vertical-layout spacing>
            <a-role-uzivatele-panel _id="rolePanel"/>
        </v-vertical-layout>
    </v-horizontal-layout>
</v-vertical-layout>
</body>
</html>