<v-vertical-layout spacing margin width-full>
    <v-horizontal-layout spacing width-full>
        <v-vertical-layout spacing>
            <v-panel icon="font://USERS" caption="Použivatelovia" style-name="card new-form"
                     width-full>
                <v-vertical-layout margin spacing>
                    <v-button _id="butUsers">Seznam použivatelov</v-button>
                </v-vertical-layout>
            </v-panel>
        </v-vertical-layout>
        <v-vertical-layout spacing>
        </v-vertical-layout>
    </v-horizontal-layout>
</v-vertical-layout>