<v-vertical-layout spacing margin width-full>
    <v-horizontal-layout spacing width-full>
        <v-vertical-layout spacing>
            <v-panel _id="adminPanel" icon="font://USERS" style-name="card new-form"
                     width-full visible="false">
                <v-vertical-layout margin spacing>
                    <v-horizontal-layout spacing>
                        <v-button _id="butUsers"/>
                        <v-button _id="butNewUser" icon="font://PLUS"/>
                    </v-horizontal-layout>
                </v-vertical-layout>
            </v-panel>
            <v-panel _id="politikaPanel" icon="font://HAND_O_UP" style-name="card new-form"
                     width-full>
                <v-vertical-layout margin spacing>
                    <v-horizontal-layout spacing>
                        <v-button _id="butTema"/>
                        <v-button _id="butPredmet"/>
                        <v-button _id="butObdobi"/>
                    </v-horizontal-layout>
                </v-vertical-layout>
            </v-panel>
        </v-vertical-layout>
        <v-vertical-layout spacing>
            <v-panel _id="lokacePanel" icon="font://MAP_MARKER" style-name="card new-form" width-full>
                <v-vertical-layout margin spacing>
                    <v-horizontal-layout spacing>
                        <v-button _id="butKraj"/>
                        <v-button _id="butOkres"/>
                        <v-button _id="butMiesto"/>
                    </v-horizontal-layout>
                </v-vertical-layout>
            </v-panel>
        </v-vertical-layout>
    </v-horizontal-layout>
</v-vertical-layout>