<v-vertical-layout margin>
    <v-panel _id="panel" style-name="new-form" icon="font://USER">
        <v-vertical-layout margin spacing width-full>
            <v-text-field _id="tfMeno" width-full null-representation="" required="true"/>
            <v-text-field _id="tfPrijmeni" width-full null-representation="" required="true"/>
            <v-popup-date-field _id="dfNarozeni" width-full null-representation="" required="true"/>
            <v-button _id="butSave" style-name="primary"/>
        </v-vertical-layout>
    </v-panel>
</v-vertical-layout>