<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping" content="c:sk.stefan.mvps.view.components"/>
    <meta name="package-mapping" content="h:sk.stefan.mvps.view.components.hlasovani.subject"/>
</head>
<body>
<v-vertical-layout spacing margin width-full>
    <v-horizontal-layout spacing width-full>
        <v-vertical-layout spacing>
            <h-tema-panel _id="subjectPanel"/>
            <!--<h-seznam-hlasovani-tema-panel _id="seznamHlasovaniTemaPanel"/>-->
        </v-vertical-layout>
    </v-horizontal-layout>
</v-vertical-layout>
</body>
</html>
