<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping" content="c:sk.stefan.mvps.view.components"/>
    <meta name="package-mapping" content="h:sk.stefan.mvps.view.components.hlasovani"/>
</head>
<body>
<v-vertical-layout spacing margin width-full>
    <v-horizontal-layout spacing width-full>
        <v-vertical-layout spacing>
            <h-tema-panel _id="temasubPanel"/>
            <!--<h-seznam-hlasovani-tema-panel _id="seznamHlasovaniTemaPanel"/>-->
        </v-vertical-layout>
    </v-horizontal-layout>
</v-vertical-layout>
</body>
</html>

<!--sk.stefan.mvps.view.components.administrace.TemataTab.grid.brief_description.cap=Theme name-->